<nav
    class="flex flex-col lg:flex-row lg:justify-between items-center gap-4 text-white pt-6 pb-6 text-xs md:text-base">
    <div class="mx-6 mb-2 lg:mb-0">
        <span class="links lg:mx-4 cursor-pointer"> <a routerLink="/home">Portafolio</a> </span>
    </div>
    <div>
        <ol class="flex flex-row justify-evenly flex-wrap gap-4 mx-6">
            <li class="links lg:mx-4 cursor-pointer"> <a routerLink="/home"
                    routerLinkActive="router-link-active">Inicio</a> </li>
            <li class="links lg:mx-4 cursor-pointer"> <a routerLink="/about">Sobre Mi</a> </li>
            <li class="links lg:mx-4 cursor-pointer"> <a routerLink="/experience">Experiencia</a> </li>
            <li class="links lg:mx-4 cursor-pointer"> <a routerLink="/projects">Proyectos</a> </li>
            <li class="links lg:mx-4 cursor-pointer"> <a routerLink="/contact">Contacto</a> </li>
        </ol>
    </div>
</nav>