<div class="animated fadeIn h-auto flex items-center justify-center">
    <div class="w-full h-auto max-w-screen-lg mx-auto p-4 pb-8">
        <section class="flex flex-col lg:flex-row items-center text-center lg:text-left gap-6 pt-10 lg:pt-20">
            <div class="flex justify-center lg:order-2 w-2/4">
                <div class="w-full flex items-center">
                    <img loading="lazy"
                        class="w-full h-auto aspect-square object-cover object-top rounded-lg lg:rounded-3xl"
                        src="../../../assets/img/photo-me.webp" alt="foto mia">
                </div>
            </div>
            <div class="flex flex-col gap-4 lg:order-1 justify-center w-2/4">
                <p class="text-flicker-in-glow text-white text-lg md:text-xl lg:text-2xl xl:text-3xl">Hola!, soy<br>
                    <span class="text-cyan-300 font-bold text-3xl md:text-5xl lg:text-6xl xl:text-7xl pb-4">Diego
                        Abanto</span>
                </p>
                <p class="text-amber-400 uppercase text-sm md:text-lg lg:text-xl xl:text-2xl">Analista Programador</p>
                <p class="text-white text-xs md:text-sm lg:text-base hidden md:block">Tengo 26 años, me titulé como
                    Analista Programador, actualmente me dedico a realizar proyectos
                    personales para mejorar mis habilidades como desarrollador web/programador junior y aprender React.
                </p>
                <p class="text-white text-xs md:text-sm lg:text-base hidden md:block">Tengo conocimientos Angular, NodeJS(ExpressJS) MongoDB</p>
                <div class="flex gap-2 justify-center lg:justify-start lg:pt-4">
                    <a href="../../../assets/pdf/cv.pdf" download="cv" target="_blank"
                        class="link transition transform hover:scale-105 duration-300 uppercase bg-transparent border-2 py-2 px-6 text-white border-white rounded-lg text-xs md:text-sm xl:text-base">
                        Descargar CV
                    </a>
                    <button routerLink="/contact"
                        class="link transition transform hover:scale-105 duration-300 uppercase bg-transparent border-2 py-2 px-6 text-white border-white rounded-lg text-xs md:text-sm xl:text-base">
                        Contactame
                    </button>
                </div>
            </div>
        </section>
    </div>
</div>