<div
    class="animated fadeIn container mx-auto pt-16 px-2 md:px-20 lg:px-40 xl:px-50 text-white flex flex-col lg:flex-row lg:justify-evenly lg:gap-x-10">
    <section class="flex flex-col gap-10 pb-6 lg:order-2 lg:items-start md:pr-6">
        <div class="flex w-full items-center justify-center">
            <svg class="w-10 mr-2 md:w-16 lg:w-12 xl:14" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">

                <g id="SVGRepo_bgCarrier" stroke-width="0" />

                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M6 7H7M6 10H7M11 10H12M11 13H12M6 13H7M11 7H12M7 21V18C7 16.8954 7.89543 16 9 16C10.1046 16 11 16.8954 11 18V21H7ZM7 21H3V4.6C3 4.03995 3 3.75992 3.10899 3.54601C3.20487 3.35785 3.35785 3.20487 3.54601 3.10899C3.75992 3 4.03995 3 4.6 3H13.4C13.9601 3 14.2401 3 14.454 3.10899C14.6422 3.20487 14.7951 3.35785 14.891 3.54601C15 3.75992 15 4.03995 15 4.6V9M19.7 13.5C19.7 14.3284 19.0284 15 18.2 15C17.3716 15 16.7 14.3284 16.7 13.5C16.7 12.6716 17.3716 12 18.2 12C19.0284 12 19.7 12.6716 19.7 13.5ZM21.5 21V20.5C21.5 19.1193 20.3807 18 19 18H17.5C16.1193 18 15 19.1193 15 20.5V21H21.5Z"
                        stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </g>
            </svg>
            <h1 class="font-bold text-cyan-300 text-4xl uppercase ">Experiencia</h1>
        </div>
        <div class="flex flex-col gap-16">
            <div class="grid grid-cols-3 lg:grid-cols-2 grid-rows-2 justify-start gap-4 grid-flow-col">
                <div class="flex flex-col gap-2 lg:grow col-span-3 lg:col-span-1 lg:row-span-2">
                    <h3 class="text-xl md:text-2xl uppercase">Practica Profesional</h3>
                    <h4 class="text-lg md:text-xl">Latam trade capital Chile</h4>
                    <span class="text-base md:text-lg">Junio 2024 - Agosto 2024</span>
                </div>
                <div class="text-xs md:text-base col-span-3 lg:col-span-1 lg:row-span-2">
                    <p>En mi práctica profesional en la empresa Latam Trade Capital estuve un tiempo en al área de “mesa
                        de ayuda” como soporte Ti ayudando a los empleados con problemas relacionados con la informática
                        (hardware & software, impresoras, redes etc.).
                    </p>
                    <p>Luego rote al área de desarrollo web donde me
                        encargaban tareas relacionadas con el front-end (cambios en la interfaz, modificar filtros,
                        agregar funcionalidades al sistema como un editor de texto al guardar comentarios) durante mi
                        práctica utilice angular como framework, TypeScript, SCSS, Bootstrap, un poco de Python y java.
                    </p>
                </div>
            </div>
            <div class="grid grid-cols-3 lg:grid-cols-2 grid-rows-2 justify-start gap-4 grid-flow-col">
                <div class="flex flex-col gap-2 lg:grow col-span-3 lg:col-span-1 lg:row-span-2">
                    <h3 class="text-xl md:text-2xl uppercase">Independiente</h3>
                    <h4 class="text-lg md:text-xl">Servicio reparación, armado de computadoras
                    </h4>
                    <span class="text-base md:text-lg">Enero 2022 - Actualmente</span>
                </div>
                <div class="text-xs md:text-base col-span-3 lg:col-span-1 lg:row-span-2">
                    <p>Trabajo independiente en mi tiempo libre dando servicio de reparación, diagnóstico a ordenadores
                        de sobremesa y portátiles.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>